<div class="c-book u-mb2 {{ className }}">
  <div class="">
    <div class="">
      <div class="c-book__cover c-book__cover--sm">
        <img src="{{ coverImg }}" alt="{{ title }}" class="u-bl" />
        <div class="u-absolute c-book__details__container">
          <a href="#" class="c-book__details u-inbl u-p2 u-relative">
            <svg class="u-bl u-absolute u-my-auto u-mx-auto" viewBox="10 20 25 5">
              <g stroke="none" stroke-width="1" transform="translate(10.000000, 20.000000)">
                <ellipse cx="2.19105642" cy="2.19105642" rx="2.19105642" ry="2.19105642"></ellipse>
                <ellipse cx="12.1910564" cy="2.19105642" rx="2.19105642" ry="2.19105642"></ellipse>
                <ellipse cx="22.1910564" cy="2.19105642" rx="2.19105642" ry="2.19105642"></ellipse>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="u-none">
        <h4 class="h5 u-w300">{{ title }}</h4>
        <span class="u-system">{{ author }}</span>
        <br />
        <span class="small u-caps u-lt-2">{{ publishDate }}</span>
      </div>
    </div>
  </div>
</div>
