<div class="c-book c-book__list-item {{ className }}">
  <div class="c-book__listing o-flex o-flex--centerH o-flex--wrap">
    <div class="o-flex o-flex--centerH">
      <div class="c-book__cover">
        <img src="{{ coverImg }}" alt="{{ title }}" />
      </div>
      <div class="u-ml3">
        <h4 class="h5 u-w300">{{ title }}</h4>
        <span class="u-system">{{ author }}</span>
        {{#if publishDate}}
          <br />
          <span class="small u-caps u-lt-2">{{ publishDate }}</span>
        {{/if}}
      </div>
    </div>
    <div class="u-right@lg">
      <a href="#" class="c-btn c-btn--md c-btn--primary u-w700 u-mr0 u-mb2">Add to Stack</a>
      <br />
      <a href="#">Write a Review</a>
    </div>
  </div>
</div>
